#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, body {
  font-family: "Montserrat";
}

h2{ 
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

h3{ 
  font-weight: 900;
}

p{
  color: #8f8f8f;
}

body{
  text-align: center;
}
/* Headings */

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.pricing-heading{
  color: black;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
  color: black;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored{
  background-color: #ef8172;
  color: white;
}

.white{
  background-color: #fff;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}

/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  right: 30%;
  position: absolute;
}

/* Features Section */

#features{
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: 900;
}

.feature-box{
  padding: 5%;
}

.icon{
  color: #ef8172;
  padding-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials */

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


em{
  color: white;
}

#press{
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing */

.price-text{
  color: black;
  font-size: 3rem;
  line-height: 1.5;
}

#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

/* Footer */

.footer-link{
  color: grey;
}

.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title .container-fluid{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}